.input {
  text-align: center;
}

.form-control:focus {
  border-color: #b8b8b8;
  box-shadow: 0 0 0 0.2rem rgba(186, 186, 186, 0.25);
}

.red {
  font-size: 35px;
  color: red;
}

.text__red {
  color: red;
}

.green {
  font-size: 35px;
  color: rgb(0, 152, 53);
}

.text__green {
  color: rgb(0, 152, 53);
}

.card {
  width: 17rem !important;
}
