<main class="col-md-9 ms-sm-auto col-lg-10 px-md-5 pt-2" id="main">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom"
  >
    <h1 class="text-secondary">Analysis - Cash Conversion Cycle</h1>
    <span>
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        (click)="savePDF()"
      >
        <i class="bi bi-download"></i>
        PDF
      </button>
      <app-trade></app-trade
    ></span>
  </div>
  <div id="analysis">
    <div class="d-flex row">
      <div class="p__refact d-flex">
        <div class="card me-3 search__content">
          <form
            class="input-group input-group-sm p-2"
            [formGroup]="searchForm"
            (ngSubmit)="displayData()"
            (ngSubmit)="displayChart()"
          >
            <input
              type="text"
              class="input form-control"
              placeholder="Stock name..."
              formControlName="stockSymbol"
              oninput="this.value = this.value.toUpperCase()"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="displayData()"
              (click)="displayChart()"
              [disabled]="searchForm.invalid"
            >
              Search
            </button>
          </form>
          <p
            class="error"
            *ngIf="searchForm.get('stockSymbol')?.hasError('maxlength')"
          >
            Stock Symbol should have min 1 to 5 characters 📢
          </p>
          <div>
            <h1 class="ticker__element text-center fw-normal fs-2 p-2">
              {{ cash.symbol || "TICKER" }}
            </h1>
            <hr />
            <h1 class="cap__element text-center fw-normal fs-2">
              {{ cash.capitalization }} cap
            </h1>
          </div>
        </div>
        <div class="card card__content">
          <table class="table table-bordered text-start text-center mb-0">
            <thead class="bg-light">
              <tr class="text_size">
                <th scope="col">Year</th>
                <th scope="col">Inventory</th>
                <th scope="col">Cost of Goods Sold</th>
                <th scope="col">Revenue</th>
                <th scope="col">Receivables</th>
                <th scope="col">Accounts Payable</th>
              </tr>
            </thead>
            <tbody class="text_size">
              <tr>
                <td class="text-center">
                  <p *ngFor="let data of cash.date">
                    {{ data | slice : 0 : 4 }}
                  </p>
                </td>
                <td class="text-center">
                  <p *ngFor="let data of cash.inventory">
                    {{ data | number : "1.0-2" }}
                  </p>
                </td>
                <td class="text-center">
                  <p *ngFor="let data of cash.cogs">
                    {{ data | number : "1.0-2" }}
                  </p>
                </td>
                <td class="text-center">
                  <p *ngFor="let data of cash.revenue">
                    {{ data | number : "1.0-2" }}
                  </p>
                </td>
                <td class="text-center">
                  <p *ngFor="let data of cash.receivables">
                    {{ data | number : "1.0-2" }}
                  </p>
                </td>
                <td class="text-center">
                  <p *ngFor="let data of cash.accountsPayable">
                    {{ data | number : "1.0-2" }}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="d-flex mt-3">
        <div class="card me-3">
          <div echarts [options]="barChart" class="analysis__chart"></div>
        </div>
        <div class="card">
          <div echarts [options]="lineChart" class="analysis__chart"></div>
        </div>
      </div>

      <div class="p__refact d-flex mt-3 mb-3">
        <div class="card__analysis card flex-column text-start text-center">
          <div class="analysis">
            <table class="table__results table table-bordered mb-0 rounded-top">
              <thead class="bg-light">
                <tr class="text_size">
                  <th scope="col">Indicator</th>
                  <th scope="col">Formula</th>
                  <th *ngFor="let data of cash.date.reverse()" scope="col">
                    {{ data | slice : 0 : 4 }}
                  </th>
                </tr>
              </thead>
              <tbody class="text_size">
                <tr>
                  <td class="indicators">
                    <i
                      class="bi bi-info-square"
                      placement="top"
                      ngbTooltip="Termenul mediu de stocare (Best DIO < 40 days)"
                    >
                    </i>
                    Days Inventory Outstanding (DIO)
                  </td>
                  <td>(Inventory / Cogs) * 365</td>
                  <td *ngFor="let data of cash.DIO.reverse()">
                    <p
                      [ngClass]="
                        data > 40 ? 'red_indicator' : 'green_indicator'
                      "
                    >
                      {{ data | number : "1.0-0" }} days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="indicators">
                    <i
                      class="bi bi-info-square"
                      placement="top"
                      ngbTooltip="Termenul mediu de incasare a creantelor (Best DSO < 60 days)"
                    >
                    </i>
                    Days Sales Outstanding (DSO)
                  </td>
                  <td>(Rceivables / Revenue) * 365</td>
                  <td *ngFor="let data of cash.DSO.reverse()">
                    <p
                      [ngClass]="
                        data > 60 ? 'red_indicator' : 'green_indicator'
                      "
                    >
                      {{ data | number : "1.0-0" }} days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="indicators">
                    <i
                      class="bi bi-info-square"
                      placement="top"
                      ngbTooltip="Termenul mediu de plata a datoriilor comerciale (Best DPO < 45 days)"
                    >
                    </i>
                    Days Payable Outstanding (DPO)
                  </td>
                  <td>(Accounts Payable / Cogs) * 365</td>
                  <td *ngFor="let data of cash.DPO.reverse()">
                    <p
                      [ngClass]="
                        data > 45 ? 'red_indicator' : 'green_indicator'
                      "
                    >
                      {{ data | number : "1.0-0" }} days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="indicators">
                    <i
                      class="bi bi-info-square"
                      placement="top"
                      ngbTooltip="Cate zile pe an se invartesc banii in companie (Best CCC < 45 days)"
                    >
                    </i>
                    Cash Conversion Cycle (CCC)
                  </td>
                  <td>DIO + DSO - DPO</td>
                  <td *ngFor="let data of cash.CCC.reverse()">
                    <p
                      [ngClass]="
                        data > 45 ? 'red_indicator' : 'green_indicator'
                      "
                    >
                      {{ data | number : "1.0-0" }} days
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div echarts [options]="candlesChart" class="candles__chart"></div>
    </div>
  </div>
</main>
<div
  echarts
  *ngIf="loadingService.isLoading | async"
  [options]="loadingElement"
  class="loader"
></div>
<app-nav></app-nav>
