<nav
  ngbNav
  #nav="ngbNav"
  class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar"
  style="width: 280px; height: 100vh"
  *ngIf="auth.isLoggedIn()"
>
  <a href="/" class="title link-dark text-decoration-none">Financials</a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="p-2">
      <ng-container ngbNavItem>
        <a
          ngbNavLink
          [routerLink]="'/chart'"
          [ngClass]="{ active: router.url === '/chart' }"
          class="nav-link active"
        >
          <i class="bi bi-bar-chart me-2"></i>
          Charts
        </a>
      </ng-container>
    </li>
    <li class="p-2">
      <ng-container ngbNavItem>
        <a
          ngbNavLink
          [routerLink]="'/discover'"
          [ngClass]="{ active: router.url === '/discover' }"
          class="nav-link active"
        >
          <i class="bi bi-compass me-2"></i>
          Discover
        </a>
      </ng-container>
    </li>
    <li class="p-2">
      <ng-container ngbNavItem>
        <a
          ngbNavLink
          [routerLink]="'/analysisCash'"
          [ngClass]="{ active: router.url === '/analysisCash' }"
          class="nav-link active"
        >
          <i class="bi bi-cash me-2"></i>
          Cash
        </a>
      </ng-container>
    </li>
    <li class="p-2">
      <ng-container ngbNavItem>
        <a
          ngbNavLink
          [routerLink]="'/analysisLiquidity'"
          [ngClass]="{ active: router.url === '/analysisLiquidity' }"
          class="nav-link active"
        >
          <i class="bi bi-clipboard2-pulse me-2"></i>
          Liquidity
        </a>
      </ng-container>
    </li>
    <li class="p-2">
      <ng-container ngbNavItem>
        <a
          ngbNavLink
          [routerLink]="'/analysisSolvency'"
          [ngClass]="{ active: router.url === '/analysisSolvency' }"
          class="nav-link active"
        >
          <i class="bi bi-bank me-2"></i>
          Solvency
        </a>
      </ng-container>
    </li>
    <li class="p-2">
      <ng-container ngbNavItem>
        <a
          ngbNavLink
          [routerLink]="'/analysisPerformance'"
          [ngClass]="{ active: router.url === '/analysisPerformance' }"
          class="nav-link active"
        >
          <i class="bi bi-graph-up-arrow me-2"></i>
          Performance
        </a>
      </ng-container>
    </li>
    <li class="p-2">
      <ng-container ngbNavItem>
        <a
          ngbNavLink
          [routerLink]="'/analysisPosition'"
          [ngClass]="{ active: router.url === '/analysisPosition' }"
          class="nav-link active"
        >
          <i class="bi bi-signpost-split me-2"></i>
          Position
        </a>
      </ng-container>
    </li>
    <li class="p-2">
      <ng-container ngbNavItem>
        <a
          ngbNavLink
          [routerLink]="'/reports'"
          [ngClass]="{ active: router.url === '/reports' }"
          class="nav-link active"
        >
          <i class="bi bi-file-earmark-text me-2"></i>
          Reports
        </a>
      </ng-container>
    </li>
  </ul>
  <hr />

  <div class="text-center">
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary m-1"
      (click)="logOut()"
    >
      <i class="bi bi-box-arrow-left"></i>
      Logout
    </button>
  </div>
</nav>
