.card {
  height: 49.5rem;
}

.candles__chart {
  width: 1130px;
  height: 650px;
}

.input__field {
  display: flex;
  justify-content: center;
}

.input {
  text-align: center;
}

.form-control:focus {
  border-color: #b8b8b8;
  box-shadow: 0 0 0 0.2rem rgba(186, 186, 186, 0.25);
}

.error {
  color: red;
  font-size: xx-small;
  text-align: center;
}
