<main class="col-md-9 ms-sm-auto col-lg-10 px-md-5 pt-2">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom"
  >
    <h1 class="text-secondary">Analysis - Changes In Financial Position</h1>
    <app-trade></app-trade>
  </div>
  <div *ngIf="loaderComponent.loading" class="d-flex row">
    <div class="d-flex">
      <div class="card me-3 search__content">
        <form
          class="input-group input-group-sm p-2"
          [formGroup]="searchForm"
          (ngSubmit)="displayData()"
        >
          <input
            type="text"
            class="input form-control"
            placeholder="Stock name..."
            formControlName="stockSymbol"
            oninput="this.value = this.value.toUpperCase()"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="displayData()"
            [disabled]="searchForm.invalid"
          >
            Search
          </button>
        </form>
        <p
          class="error"
          *ngIf="searchForm.get('stockSymbol')?.hasError('maxlength')"
        >
          Stock Symbol should have min 1 to 4 characters 📢
        </p>
        <h1 class="ticker__element text-center p-2">
          {{ symbol || "TICKER" }}
        </h1>
      </div>

      <div class="card card__content">
        <table class="table table-bordered text-start text-center mb-0">
          <thead class="bg-light">
            <tr class="text_size">
              <th scope="col">Year</th>
              <th scope="col">Total Assets</th>
              <th scope="col">Revenue</th>
              <th scope="col">Net Cash Flow</th>
              <th scope="col">Share Holder Equity</th>
            </tr>
          </thead>
          <tbody class="text_size">
            <tr>
              <td>2022</td>
              <td>{{ totalAssets[3] || 0 | number : "1.0-2" }}</td>
              <td>{{ revenue[0] || 0 | number : "1.0-2" }}</td>
              <td>{{ netCashFlow[0] || 0 | number : "1.0-2" }}</td>
              <td>{{ shareHolderEquity[3] || 0 | number : "1.0-2" }}</td>
            </tr>
            <tr>
              <td>2021</td>
              <td>{{ totalAssets[2] || 0 | number : "1.0-2" }}</td>
              <td>{{ revenue[1] || 0 | number : "1.0-2" }}</td>
              <td>{{ netCashFlow[1] || 0 | number : "1.0-2" }}</td>
              <td>{{ shareHolderEquity[2] || 0 | number : "1.0-2" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="d-flex mt-3">
      <div class="card me-3">
        <div echarts [options]="radarChart" class="radar__chart"></div>
      </div>
      <div class="card">
        <div echarts [options]="barChart" class="bar__chart"></div>
      </div>
    </div>

    <div class="d-flex mt-3">
      <div class="card__analysis card flex-column text-start text-center">
        <div class="analysis">
          <table class="table table-bordered mb-0 rounded-top">
            <thead class="bg-light">
              <tr class="text_size">
                <th scope="col">Indicator</th>
                <th scope="col">Formula</th>
                <th scope="col">
                  <div class="d-flex justify-content-around">
                    <p>2021</p>
                    <p>2022</p>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="text_size">
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Cat de eficient compania foloseste activele pentru a genera fluxuri de numerar operationale"
                  >
                  </i>
                  Cashflow Return On Assets (CFROA)
                </td>
                <td>(Net Cash Flow / Total Assets) * 100</td>
                <td>
                  <div class="d-flex justify-content-around">
                    <p>{{ CFROA2021 / 100 | percent : "1.0-2" }}</p>
                    <p>{{ CFROA2022 / 100 | percent : "1.0-2" }}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Cat de eficient compania foloseste investitiile pentru a genera fluxuri de numerar operationale"
                  >
                  </i>
                  Cashflow Return On Equity (CFROE)
                </td>
                <td>(Net Cash Flow / Share Holder Equity) * 100</td>
                <td>
                  <div class="d-flex justify-content-around">
                    <p>{{ CFROE2021 / 100 | percent : "1.0-2" }}</p>
                    <p>{{ CFROE2022 / 100 | percent : "1.0-2" }}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Cat de eficient compania vinde pentru a genera fluxuri de numerar operationale"
                  >
                  </i>
                  Cashflow Return On Revenue (CFROS)
                </td>
                <td>(Net Cash Flow / Revenue) * 100</td>
                <td>
                  <div class="d-flex justify-content-around">
                    <p>{{ CFROS2021 / 100 | percent : "1.0-2" }}</p>
                    <p>{{ CFROS2022 / 100 | percent : "1.0-2" }}</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<app-loader></app-loader>
<app-nav></app-nav>
