<button
  type="button"
  class="btn btn-sm btn-outline-secondary m-1"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  <i class="bi bi-currency-exchange"></i>
  Trade
</button>

<div class="alert alert-success" role="alert" id="add-success-alert">
  Transaction added successfuly !
</div>

<div
  class="main__trade modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Add Transaction
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="changeStock()"
          ></button>
        </div>
        <mat-progress-bar
          *ngIf="loadingService.isTradeLoading | async"
          mode="indeterminate"
        ></mat-progress-bar>
        <div class="modal-body">
          <form
            [formGroup]="transactionForm"
            class="d-flex justify-content-center"
          >
            <div class="trade__elements pt-2 pb-2">
              <div class="mb-3 row">
                <label
                  for="typeahead-config"
                  class="col-xs-3 col-sm-auto col-form-label"
                  >Stock:</label
                >
                <div class="col">
                  <input
                    type="text"
                    formControlName="symbol"
                    placeholder="Stock Symbol"
                    class="form-control"
                    oninput="this.value = this.value.toUpperCase()"
                    [readonly]="symbolReadOnly"
                    #symbolName
                  />
                </div>
                <p
                  class="error mt-2 mb-0"
                  *ngIf="transactionForm.get('symbol')?.hasError('maxlength')"
                >
                  The Stock Symbol is required and should have min 1 to 5
                  characters 📢
                </p>
              </div>
              <div class="col d-flex justify-content-center mb-3">
                <button
                  class="select btn btn-primary btn-sm"
                  [disabled]="transactionForm.invalid"
                  (click)="onSelect(symbolName.value)"
                >
                  Select
                </button>
              </div>
              <div *ngIf="showInputs">
                <div class="mb-3 row">
                  <label
                    for="typeahead-config"
                    class="col-xs-3 col-sm-auto col-form-label"
                    >Position:</label
                  >
                  <div class="col">
                    <select class="form-control" formControlName="result">
                      <option value="Buy">Buy</option>
                      <option value="Sell">Sell</option>
                    </select>
                  </div>
                  <p
                    class="error mt-2 mb-0"
                    *ngIf="transactionForm.get('result')?.hasError('required')"
                  >
                    The Position is required and should be Buy or Sell 📢
                  </p>
                </div>
                <div class="mb-3 row">
                  <label
                    for="typeahead-config"
                    class="col-xs-3 col-sm-auto col-form-label"
                    >Price:</label
                  >
                  <div class="col">
                    <input
                      type="number"
                      formControlName="price"
                      placeholder="Trading Price"
                      class="form-control"
                      readonly
                    />
                  </div>
                </div>
                <div
                  class="transaction__btns btn-group mb-2"
                  id="submit__trade"
                >
                  <button
                    class="book btn btn-success btn-sm"
                    data-bs-dismiss="modal"
                    [disabled]="transactionForm.invalid"
                    (click)="submitTransaction()"
                  >
                    Add Transaction
                  </button>
                  <button
                    class="book btn btn-warning btn-sm"
                    [disabled]="transactionForm.invalid"
                    (click)="changeStock()"
                  >
                    Change Stock
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
