<main class="col-md-9 ms-sm-auto col-lg-10 px-md-5 pt-2">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom"
  >
    <h1 class="text-secondary">Anaysis</h1>
  </div>
  <div *ngIf="!loaderComponent.loading" class="d-flex row">
    <div class="d-flex justify-content-between">
      <div class="card">
        <div class="input-group input-group-sm p-2">
          <input
            type="text"
            class="input form-control"
            placeholder="Stock name..."
          />
          <button class="btn btn-outline-secondary" type="button">
            Search
          </button>
        </div>
        <h1 class="text-center mt-1 p-3">TSLA</h1>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-4">
              <h5 class="card-title">Market Cap</h5>
              <h6 class="card-subtitle mb-2 text-muted fw-lighter">
                Company size
              </h6>
              <p class="card-text mt-4 ms-1 fs-2 fw-bold">27.92B</p>
            </div>
            <div class="d-flex align-items-center ms-2">
              <i class="bi bi-arrow-down-short mb-2 red"></i>
              <h4 class="text__red">2,76%</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-4">
              <h5 class="card-title">Income</h5>
              <h6 class="card-subtitle mb-2 text-muted fw-lighter">
                Company Profit
              </h6>
              <p class="card-text mt-4 ms-1 fs-2 fw-bold">1.72B</p>
            </div>
            <div class="d-flex align-items-center ms-4">
              <i class="bi bi-arrow-up-short mb-2 green"></i>
              <h4 class="text__green">1,24%</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-4">
              <h5 class="card-title">Dividend</h5>
              <h6 class="card-subtitle mb-2 text-muted fw-lighter">Payment</h6>
              <p class="card-text mt-4 ms-1 fs-2 fw-bold">0.90</p>
            </div>
            <div class="d-flex align-items-center ms-4">
              <i class="bi bi-arrow-down-short mb-2 red"></i>
              <h4 class="text__red">5,92%</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex mt-3">
      <div class="card me-3">
        <div echarts [options]="barChart" class="bar__chart"></div>
      </div>
      <div class="card">
        <div echarts [options]="pieChart" class="pie__chart"></div>
      </div>
    </div>
    <div class="d-flex mt-3">
      <div class="card__analysis card flex-column text-start text-center me-3">
        <div class="bg-light px-4 mb-0 border-bottom rounded-top">
          <p class="pt-2 fs-4 fw-semi-bold mb-2">Top Gainers</p>
        </div>
        <div class="analysis">
          <table class="table mb-0">
            <tbody>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card__analysis card flex-column text-center">
        <div class="bg-light px-4 mb-0 border-bottom rounded-top">
          <p class="pt-2 fs-4 fw-semi-bold mb-2">Top Gainers</p>
        </div>
        <div class="analysis">
          <table class="table mb-0">
            <tbody>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
              <tr>
                <td>AAF</td>
                <td>78.97</td>
                <td>46.87%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <app-loader></app-loader>
</main>
