.report tr {
  display: grid !important;
  grid-template-columns: repeat(6, 1fr) !important;
}

.report {
  max-height: 790px;
  overflow-y: scroll;
}

.report::-webkit-scrollbar {
  display: none;
}

.report__head {
  position: sticky;
  top: 0;
}

.card__analysis {
  width: 570px;
}

.analysis {
  max-height: 220px;
  overflow-y: scroll;
}

.analysis::-webkit-scrollbar {
  display: none;
}

.analysis::-webkit-scrollbar {
  display: none;
}

.table > :not(caption) > * > * {
  padding: 1rem 1rem;
}

.analysis tr {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
}

.analysis > tbody {
  vertical-align: none;
}

.text-muted {
  font-size: 12px;
}

#add-remove-alert {
  display: none;
}

#add-remove-alert {
  animation-name: fadeInOut;
  animation-duration: 4s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.alert {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.2rem;
  z-index: 99;
  --bs-alert-padding-y: 1.3rem;
}

.loader {
  width: 100%;
  height: auto;
  position: fixed;
  margin: 0;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

p {
  cursor: pointer !important;
  text-decoration: underline !important;
  margin: 0 !important;
  width: fit-content;
}
