<div class="d-flex mt-3">
  <!-- Table 1 -->
  <div class="card__analysis card flex-column text-start text-center me-3">
    <div class="bg-light px-4 mb-0 border-bottom rounded-top">
      <p class="pt-2 fs-4 fw-semi-bold mb-2">Top Gainers</p>
    </div>
    <div class="analysis">
      <table class="table mb-0">
        <tbody>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Table 2 -->
  <div class="card__analysis card flex-column text-center">
    <div class="bg-light px-4 mb-0 border-bottom rounded-top">
      <p class="pt-2 fs-4 fw-semi-bold mb-2">Top Gainers</p>
    </div>
    <div class="analysis">
      <table class="table mb-0">
        <tbody>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
          <tr>
            <td>AAF</td>
            <td>78.97</td>
            <td>46.87%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
