<div class="card card__news flex-column">
  <h1 class="text-center fs-4 bg-light rounded-top border-bottom p-2 mb-0">
    News
  </h1>
  <div class="news rounded-bottom">
    <ul class="list-group card border-light list-group-flush">
      <li class="list-group-item py-3">
        <a href="#1" class="list-group-item-action text-decoration-none">
          <div class="d-flex w-100 align-items-center">
            <p class="small me-5">New market changes up to date right now</p>
            <img
              src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt="img"
              class="image"
            />
          </div>
          <div class="col-10 small text-secondary fw-light">2023-01-01</div>
        </a>
      </li>
      <li class="list-group-item py-3">
        <a href="#1" class="list-group-item-action text-decoration-none">
          <div class="d-flex w-100 align-items-center">
            <p class="small me-5">New market changes up to date right now</p>
            <img
              src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt="img"
              class="image"
            />
          </div>
          <div class="col-10 small text-secondary fw-light">2023-01-01</div>
        </a>
      </li>
      <li class="list-group-item py-3">
        <a href="#1" class="list-group-item-action text-decoration-none">
          <div class="d-flex w-100 align-items-center">
            <p class="small me-5">New market changes up to date right now</p>
            <img
              src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt="img"
              class="image"
            />
          </div>
          <div class="col-10 small text-secondary fw-light">2023-01-01</div>
        </a>
      </li>
      <li class="list-group-item py-3">
        <a href="#1" class="list-group-item-action text-decoration-none">
          <div class="d-flex w-100 align-items-center">
            <p class="small me-5">New market changes up to date right now</p>
            <img
              src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt="img"
              class="image"
            />
          </div>
          <div class="col-10 small text-secondary fw-light">2023-01-01</div>
        </a>
      </li>
      <li class="list-group-item py-3">
        <a href="#1" class="list-group-item-action text-decoration-none">
          <div class="d-flex w-100 align-items-center">
            <p class="small me-5">New market changes up to date right now</p>
            <img
              src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt="img"
              class="image"
            />
          </div>
          <div class="col-10 small text-secondary fw-light">2023-01-01</div>
        </a>
      </li>
      <li class="list-group-item py-3">
        <a href="#1" class="list-group-item-action text-decoration-none">
          <div class="d-flex w-100 align-items-center">
            <p class="small me-5">New market changes up to date right now</p>
            <img
              src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt="img"
              class="image"
            />
          </div>
          <div class="col-10 small text-secondary fw-light">2023-01-01</div>
        </a>
      </li>
      <li class="list-group-item py-3">
        <a href="#1" class="list-group-item-action text-decoration-none">
          <div class="d-flex w-100 align-items-center">
            <p class="small me-5">New market changes up to date right now</p>
            <img
              src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt="img"
              class="image"
            />
          </div>
          <div class="col-10 small text-secondary fw-light">2023-01-01</div>
        </a>
      </li>
      <li class="list-group-item py-3">
        <a href="#1" class="list-group-item-action text-decoration-none">
          <div class="d-flex w-100 align-items-center">
            <p class="small me-5">New market changes up to date right now</p>
            <img
              src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt="img"
              class="image"
            />
          </div>
          <div class="col-10 small text-secondary fw-light">2023-01-01</div>
        </a>
      </li>
      <li class="list-group-item py-3">
        <a href="#1" class="list-group-item-action text-decoration-none">
          <div class="d-flex w-100 align-items-center">
            <p class="small me-5">New market changes up to date right now</p>
            <img
              src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt="img"
              class="image"
            />
          </div>
          <div class="col-10 small text-secondary fw-light">2023-01-01</div>
        </a>
      </li>
    </ul>
  </div>
</div>
