<div class="card card__news flex-column">
  <h1 class="text-center fs-4 bg-light rounded-top border-bottom p-2 mb-0">
    News
  </h1>
  <div class="news rounded-bottom">
    <ul
      *ngFor="let news of listNews"
      class="list-group card border-light list-group-flush"
    >
      <li class="list-group-item py-3">
        <a href="#1" class="list-group-item-action text-decoration-none">
          <div class="d-flex w-100 align-items-center">
            <p class="small me-5">{{ news.title }}</p>
            <img src="{{ news.image }}" alt="img" class="image" />
          </div>
          <div class="col-10 small text-secondary fw-light">
            {{ news.date * 1000 | date }}
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
