.card__news {
  width: 330px;
}

.news {
  max-height: 743.5px;
  overflow-y: scroll;
}

.news::-webkit-scrollbar {
  display: none;
}

.image {
  width: 25%;
  flex-shrink: 0;
  border-radius: 5px;
}
