.carousel {
  width: 50rem;
  height: 20rem;
}

.card-body {
  padding-bottom: 0 !important;
}

.card__risersFallers {
  width: 390px;
}

.risersFallers {
  max-height: 350px;
  overflow-y: scroll;
}

.risersFallers::-webkit-scrollbar {
  display: none;
}

.risersFallers::-webkit-scrollbar {
  display: none;
}

.table > :not(caption) > * > * {
  padding: 1rem 1rem;
}

.table tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.table > tbody {
  vertical-align: none;
}

.progress__bar {
  width: 7rem;
}

.card__news {
  width: 330px;
}

.news {
  max-height: 743.5px;
  overflow-y: scroll;
}

.news::-webkit-scrollbar {
  display: none;
}

.image {
  width: 25%;
  flex-shrink: 0;
  border-radius: 5px;
}

.pie__chart {
  width: 568px;
  height: 300px;
  padding-bottom: 50px;
}

.line__chart {
  width: 600px;
  height: 300px;
  padding-bottom: 40px;
}
