<main class="col-md-9 ms-sm-auto col-lg-10 px-md-5 pt-2">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom"
  >
    <h1 class="text-secondary">Discover</h1>
  </div>
  <div *ngIf="!loaderComponent.loading" class="d-flex justify-content-between">
    <div>
      <div class="d-flex column me-4 mb-3">
        <ngb-carousel class="card bg-light carousel-dark slide">
          <ng-template ngbSlide>
            <div class="carousel card-body d-flex justify-content-center">
              <div echarts [options]="pieChart" class="pie__chart"></div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="carousel card-body d-flex justify-content-center">
              <div echarts [options]="lineChart" class="line__chart"></div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <!-- Gainers / Fallers -->
      <div class="d-flex column justify-content-between me-4">
        <div class="card__risersFallers card flex-column text-center">
          <div class="bg-light px-4 mb-0 border-bottom rounded-top">
            <p class="pt-2 fs-4 fw-semi-bold mb-2">Top Gainers</p>
            <hr class="mb-2 mt-0" />
            <div class="d-flex justify-content-between">
              <p class="ps-2">Stock</p>
              <p class="pe-2">Change</p>
            </div>
          </div>
          <div class="risersFallers">
            <table class="table mb-0">
              <tbody>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="success"
                      [value]="25"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="success"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="success"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="success"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="success"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="success"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="success"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card__risersFallers card flex-column text-center">
          <div class="bg-light px-4 mb-0 border-bottom rounded-top">
            <p class="pt-2 fs-4 fw-semi-bold mb-2">Top Fallers</p>
            <hr class="mb-2 mt-0" />
            <div class="d-flex justify-content-between">
              <p class="ps-2">Stock</p>
              <p class="pe-2">Change</p>
            </div>
          </div>
          <div class="risersFallers">
            <table class="table mb-0">
              <tbody>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="danger"
                      [value]="25"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="danger"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="danger"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="danger"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="danger"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="danger"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
                <tr>
                  <td class="text-start ps-4">Symbol</td>
                  <td>
                    <ngb-progressbar
                      type="danger"
                      [value]="45"
                      class="progress__bar mt-1"
                    >
                    </ngb-progressbar>
                  </td>
                  <td class="text-end pe-4">45.78%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- News -->
    <div class="card card__news flex-column">
      <h1 class="text-center fs-4 bg-light rounded-top border-bottom p-2 mb-0">
        News
      </h1>
      <div class="news rounded-bottom">
        <ul class="list-group card border-light list-group-flush">
          <li class="list-group-item py-3">
            <a href="#1" class="list-group-item-action text-decoration-none">
              <div class="d-flex w-100 align-items-center">
                <p class="small me-5">
                  New market changes up to date right now
                </p>
                <img
                  src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="img"
                  class="image"
                />
              </div>
              <div class="col-10 small text-secondary fw-light">2023-01-01</div>
            </a>
          </li>
          <li class="list-group-item py-3">
            <a href="#1" class="list-group-item-action text-decoration-none">
              <div class="d-flex w-100 align-items-center">
                <p class="small me-5">
                  New market changes up to date right now
                </p>
                <img
                  src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="img"
                  class="image"
                />
              </div>
              <div class="col-10 small text-secondary fw-light">2023-01-01</div>
            </a>
          </li>
          <li class="list-group-item py-3">
            <a href="#1" class="list-group-item-action text-decoration-none">
              <div class="d-flex w-100 align-items-center">
                <p class="small me-5">
                  New market changes up to date right now
                </p>
                <img
                  src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="img"
                  class="image"
                />
              </div>
              <div class="col-10 small text-secondary fw-light">2023-01-01</div>
            </a>
          </li>
          <li class="list-group-item py-3">
            <a href="#1" class="list-group-item-action text-decoration-none">
              <div class="d-flex w-100 align-items-center">
                <p class="small me-5">
                  New market changes up to date right now
                </p>
                <img
                  src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="img"
                  class="image"
                />
              </div>
              <div class="col-10 small text-secondary fw-light">2023-01-01</div>
            </a>
          </li>
          <li class="list-group-item py-3">
            <a href="#1" class="list-group-item-action text-decoration-none">
              <div class="d-flex w-100 align-items-center">
                <p class="small me-5">
                  New market changes up to date right now
                </p>
                <img
                  src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="img"
                  class="image"
                />
              </div>
              <div class="col-10 small text-secondary fw-light">2023-01-01</div>
            </a>
          </li>
          <li class="list-group-item py-3">
            <a href="#1" class="list-group-item-action text-decoration-none">
              <div class="d-flex w-100 align-items-center">
                <p class="small me-5">
                  New market changes up to date right now
                </p>
                <img
                  src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="img"
                  class="image"
                />
              </div>
              <div class="col-10 small text-secondary fw-light">2023-01-01</div>
            </a>
          </li>
          <li class="list-group-item py-3">
            <a href="#1" class="list-group-item-action text-decoration-none">
              <div class="d-flex w-100 align-items-center">
                <p class="small me-5">
                  New market changes up to date right now
                </p>
                <img
                  src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="img"
                  class="image"
                />
              </div>
              <div class="col-10 small text-secondary fw-light">2023-01-01</div>
            </a>
          </li>
          <li class="list-group-item py-3">
            <a href="#1" class="list-group-item-action text-decoration-none">
              <div class="d-flex w-100 align-items-center">
                <p class="small me-5">
                  New market changes up to date right now
                </p>
                <img
                  src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="img"
                  class="image"
                />
              </div>
              <div class="col-10 small text-secondary fw-light">2023-01-01</div>
            </a>
          </li>
          <li class="list-group-item py-3">
            <a href="#1" class="list-group-item-action text-decoration-none">
              <div class="d-flex w-100 align-items-center">
                <p class="small me-5">
                  New market changes up to date right now
                </p>
                <img
                  src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt="img"
                  class="image"
                />
              </div>
              <div class="col-10 small text-secondary fw-light">2023-01-01</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-loader></app-loader>
</main>
