.loader {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 59%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  height: 100% !important;
  z-index: 99;
}

.text_size {
  font-size: 0.8rem !important;
}
