.loader {
  width: 100%;
  height: auto;
  position: fixed;
  margin: 0;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.image-background {
  height: 11rem;
  width: 72rem;
  object-fit: cover;
}

.description__analysis {
  width: 565px;
  height: 210px;
}

.title {
  font-weight: 800;
  font-size: large;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
}

hr {
  margin: -0.5rem 0 !important;
}

.list__info {
  color: #686363;
}

.text_size {
  font-size: 0.7rem !important;
}

.analysis__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(24.55rem, 1fr));
}

.card__analysis {
  width: 23rem;
  height: 11rem;
  margin-top: 1rem;
}

.list__info i {
  color: rgb(237, 100, 100) !important;
  margin-right: 10px !important;
}

.card-text i {
  color: rgb(5, 191, 17) !important;
  margin-right: 10px !important;
}

.card-subtitle {
  text-decoration: underline;
  text-underline-offset: 5px;
}

ol,
ul {
  padding-left: 5rem !important;
}

.analysis__indicators p {
  margin-top: 0 !important;
  margin-bottom: 0rem !important;
}
