<main class="col-md-9 ms-sm-auto col-lg-10 px-md-5 pt-2" id="main">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom"
  >
    <h1 class="text-secondary">Home</h1>
  </div>

  <div class="d-flex">
    <div class="card">
      <img
        src="https://images.pexels.com/photos/6770610/pexels-photo-6770610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="img"
        class="image-background card-img"
      />
    </div>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <div class="card">
      <div class="description__analysis">
        <h3 class="title text-center">Fundamental Analysis</h3>
        <hr />
        <ul class="list__info mt-3 px-md-5">
          <li>
            Fundamental analysis evaluates stocks by attempting to measure their
            intrinsic value.
          </li>
          <li>
            The main focus is the overall economy and industry conditions to the
            financial strength and management of companies.
          </li>
          <li>
            Earnings, expenses, assets, and liabilities all come under scrutiny
            by fundamental analysts.
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="description__analysis">
        <h3 class="title text-center">Technical Analysis</h3>
        <hr />
        <ul class="list__info mt-3 px-md-5">
          <li>
            Technical analysis evaluates statistical trends, such as movements
            in a stock's price and volume.
          </li>
          <li>
            The main focus is the stock charts to identify patterns and trends
            that suggest what a stock will do in the future.
          </li>
          <li>
            Multiple indicators are used to identify patterns and trends in the
            stock charts.
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
<div
  echarts
  *ngIf="loadingService.isLoading | async"
  [options]="loadingElement"
  class="loader"
></div>
<app-nav></app-nav>
