<div class="gainer__faller__grid">
  <!-- Gainers -->
  <div class="card__risersFallers card flex-column text-center">
    <div class="bg-light px-4 mb-0 border-bottom rounded-top">
      <p class="pt-2 fs-4 fw-semi-bold mb-2">Top Gainers</p>
      <hr class="mb-2 mt-0" />
      <div class="d-flex justify-content-between">
        <p class="ps-2">Stock</p>
        <p class="pe-2">Change</p>
      </div>
    </div>
    <div class="risersFallers">
      <table class="table mb-0">
        <tbody *ngFor="let gain of listGainers">
          <tr>
            <td class="text-start ps-4">{{ gain.symbol }}</td>
            <td>
              <ngb-progressbar
                type="success"
                [value]="gain.marketChangePercentage"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">
              {{ gain.marketChangePercentage | number : "1.0-2" }}%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Fallers -->
  <div class="card__risersFallers card flex-column text-center">
    <div class="bg-light px-4 mb-0 border-bottom rounded-top">
      <p class="pt-2 fs-4 fw-semi-bold mb-2">Top Fallers</p>
      <hr class="mb-2 mt-0" />
      <div class="d-flex justify-content-between">
        <p class="ps-2">Stock</p>
        <p class="pe-2">Change</p>
      </div>
    </div>
    <div class="risersFallers">
      <table class="table mb-0">
        <tbody *ngFor="let fall of listFallers">
          <tr>
            <td class="text-start ps-4">{{ fall.symbol }}</td>
            <td>
              <ngb-progressbar
                type="danger"
                [value]="myMath.abs(fall.marketChangePercentage)"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">
              {{ fall.marketChangePercentage | number : "1.0-2" }}%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
