<div class="d-flex column justify-content-between me-4">
  <!-- Gainers -->
  <div class="card__risersFallers card flex-column text-center">
    <div class="bg-light px-4 mb-0 border-bottom rounded-top">
      <p class="pt-2 fs-4 fw-semi-bold mb-2">Top Gainers</p>
      <hr class="mb-2 mt-0" />
      <div class="d-flex justify-content-between">
        <p class="ps-2">Stock</p>
        <p class="pe-2">Change</p>
      </div>
    </div>
    <div class="risersFallers">
      <table class="table mb-0">
        <tbody>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="success"
                [value]="25"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="success"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="success"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="success"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="success"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="success"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="success"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Fallers -->
  <div class="card__risersFallers card flex-column text-center">
    <div class="bg-light px-4 mb-0 border-bottom rounded-top">
      <p class="pt-2 fs-4 fw-semi-bold mb-2">Top Fallers</p>
      <hr class="mb-2 mt-0" />
      <div class="d-flex justify-content-between">
        <p class="ps-2">Stock</p>
        <p class="pe-2">Change</p>
      </div>
    </div>
    <div class="risersFallers">
      <table class="table mb-0">
        <tbody>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="danger"
                [value]="25"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="danger"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="danger"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="danger"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="danger"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="danger"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
          <tr>
            <td class="text-start ps-4">Symbol</td>
            <td>
              <ngb-progressbar
                type="danger"
                [value]="45"
                class="progress__bar mt-1"
              >
              </ngb-progressbar>
            </td>
            <td class="text-end pe-4">45.78%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
