<main class="col-md-9 ms-sm-auto col-lg-10 px-md-5 pt-2">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom"
  >
    <h1 class="text-secondary">Analysis - Solvency</h1>
    <app-trade></app-trade>
  </div>
  <div *ngIf="loaderComponent.loading" class="d-flex row">
    <div class="d-flex">
      <div class="card me-3 search__content">
        <form
          class="input-group input-group-sm p-2"
          [formGroup]="searchForm"
          (ngSubmit)="displayData()"
        >
          <input
            type="text"
            class="input form-control"
            placeholder="Stock name..."
            formControlName="stockSymbol"
            oninput="this.value = this.value.toUpperCase()"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="displayData()"
            [disabled]="searchForm.invalid"
          >
            Search
          </button>
        </form>
        <p
          class="error"
          *ngIf="searchForm.get('stockSymbol')?.hasError('maxlength')"
        >
          Stock Symbol should have min 1 to 4 characters 📢
        </p>
        <h1 class="ticker__element text-center p-2">
          {{ symbol || "TICKER" }}
        </h1>
      </div>

      <div class="card card__content">
        <table class="table table-bordered text-start text-center mb-0">
          <thead class="bg-light">
            <tr class="text_size">
              <th scope="col">Year</th>
              <th scope="col">Total Assets</th>
              <th scope="col">Total Liabilities</th>
              <th scope="col">Current Liabilities</th>
              <th scope="col">Long Term Liabilities</th>
              <th scope="col">Share Holder Equity</th>
            </tr>
          </thead>
          <tbody class="text_size">
            <tr>
              <td>2022</td>
              <td>{{ totalAssets | number : "1.0-2" }}</td>
              <td>{{ totalLiabilities | number : "1.0-2" }}</td>
              <td>{{ totalCurrLiabilities | number : "1.0-2" }}</td>
              <td>{{ totalLongLiabilities | number : "1.0-2" }}</td>
              <td>{{ shareHolderEquity | number : "1.0-2" }}</td>
            </tr>
            <tr>
              <td>2021</td>
              <td>{{ totalAssets | number : "1.0-2" }}</td>
              <td>{{ totalLiabilities | number : "1.0-2" }}</td>
              <td>{{ totalCurrLiabilities | number : "1.0-2" }}</td>
              <td>{{ totalLongLiabilities | number : "1.0-2" }}</td>
              <td>{{ shareHolderEquity | number : "1.0-2" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="d-flex mt-3">
      <div class="card me-3">
        <div echarts [options]="radialChart" class="radial__chart"></div>
      </div>
      <div class="card">
        <div echarts [options]="pieChart" class="pie__chart"></div>
      </div>
    </div>

    <div class="d-flex mt-3">
      <div class="card__analysis card flex-column text-start text-center">
        <div class="analysis">
          <table class="table table-bordered mb-0 rounded-top">
            <thead class="bg-light">
              <tr class="text_size">
                <th scope="col">Indicator</th>
                <th scope="col">Formula</th>
                <th scope="col">
                  <div class="d-flex justify-content-around">
                    <p>2021</p>
                    <p>2022</p>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="text_size">
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Capacitatea activelor rămase după achitarea datoriilor curente"
                  >
                  </i>
                  Solvency Ratio (RS)
                </td>
                <td>
                  (Total Assets - Current Liabilities) / Long Term Liabilities *
                  100
                </td>
                <td>
                  <div class="d-flex justify-content-around">
                    <p>{{ RS / 100 | percent : "1.0-2" }}</p>
                    <p>{{ RS / 100 | percent : "1.0-2" }}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Rata de finanțare a activelor din surse externe"
                  >
                  </i>
                  Debt To Assets Ratio (DAR)
                </td>
                <td>(Total Liabilities / Total Assets) * 100</td>
                <td>
                  <div class="d-flex justify-content-around">
                    <p>{{ RS / 100 | percent : "1.0-2" }}</p>
                    <p>{{ RS / 100 | percent : "1.0-2" }}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Levierul financiar, gradul de indatorare"
                  >
                  </i>
                  Debt Tt Equity Ratio (DER)
                </td>
                <td>(Total Liabilities / Share Holder Equity) * 100</td>
                <td>
                  <div class="d-flex justify-content-around">
                    <p>{{ RS / 100 | percent : "1.0-2" }}</p>
                    <p>{{ RS / 100 | percent : "1.0-2" }}</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Rata de finanțare a activelor din surse proprii"
                  >
                  </i>
                  Equity To Assets Ratio (EAR)
                </td>
                <td>(Share Holder Equity / Total Assets * 100</td>
                <td>
                  <div class="d-flex justify-content-around">
                    <p>{{ RS / 100 | percent : "1.0-2" }}</p>
                    <p>{{ RS / 100 | percent : "1.0-2" }}</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<app-loader></app-loader>
<app-nav></app-nav>
