<main class="col-md-9 ms-sm-auto col-lg-10 px-md-5 pt-2">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom"
  >
    <h1 class="text-secondary">Analysis - Financial Performance</h1>
    <app-trade></app-trade>
  </div>
  <div *ngIf="loaderComponent.loading" class="d-flex row">
    <div class="d-flex">
      <div class="card me-3 search__content">
        <form
          class="input-group input-group-sm p-2"
          [formGroup]="searchForm"
          (ngSubmit)="displayData()"
        >
          <input
            type="text"
            class="input form-control"
            placeholder="Stock name..."
            formControlName="stockSymbol"
            oninput="this.value = this.value.toUpperCase()"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="displayData()"
            [disabled]="searchForm.invalid"
          >
            Search
          </button>
        </form>
        <p
          class="error"
          *ngIf="searchForm.get('stockSymbol')?.hasError('maxlength')"
        >
          Stock Symbol should have min 1 to 4 characters 📢
        </p>
        <h1 class="ticker__element text-center fw-normal fs-2 p-2">
          {{ symbol || "TICKER" }}
        </h1>
        <hr />
        <h1 class="cap__element text-center fw-normal fs-2">
          {{ capitalization }} cap
        </h1>
      </div>

      <div class="card card__content">
        <table class="table table-bordered text-start text-center mb-0">
          <thead class="bg-light">
            <tr class="text_size">
              <th scope="col">Year</th>
              <th scope="col">Total Assets</th>
              <th scope="col">Net Income</th>
              <th scope="col">Revenue</th>
              <th scope="col">Share Holder Equity</th>
            </tr>
          </thead>
          <tbody class="text_size">
            <tr>
              <td class="text-center">
                <p *ngFor="let data of date">
                  {{ data | slice : 0 : 4 }}
                </p>
              </td>
              <td class="text-center">
                <p *ngFor="let data of totalAssets">
                  {{ data | number : "1.0-2" }}
                </p>
              </td>
              <td class="text-center">
                <p *ngFor="let data of netIncome">
                  {{ data | number : "1.0-2" }}
                </p>
              </td>
              <td class="text-center">
                <p *ngFor="let data of revenue">
                  {{ data | number : "1.0-2" }}
                </p>
              </td>
              <td class="text-center">
                <p *ngFor="let data of shareHolderEquity">
                  {{ data | number : "1.0-2" }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="d-flex mt-3">
      <div class="card me-3">
        <div echarts [options]="lineChart" class="line__chart"></div>
      </div>
      <div class="card">
        <div echarts [options]="radialChart" class="radial__chart"></div>
      </div>
    </div>

    <div class="d-flex mt-3 mb-3">
      <div class="card__analysis card flex-column text-start text-center">
        <div class="analysis">
          <table class="table__results table table-bordered mb-0 rounded-top">
            <thead class="bg-light">
              <tr class="text_size">
                <th scope="col">Indicator</th>
                <th scope="col">Formula</th>
                <th *ngFor="let data of date.reverse()" scope="col">
                  {{ data | slice : 0 : 4 }}
                </th>
              </tr>
            </thead>
            <tbody class="text_size">
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Profitabilitatea companiei in raport cu activele sale totale"
                  >
                  </i>
                  Return On Assets (ROA)
                </td>
                <td>(Net Income / Total Assets) * 100</td>
                <td *ngFor="let data of ROA.reverse()">
                  {{ data / 100 | percent : "1.0-2" }}
                </td>
              </tr>
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Capacitatea companiei de a transforma finanțarea prin capital propriu in profit"
                  >
                  </i>
                  Return On Equity (ROE)
                </td>
                <td>(Net Income / Share Holder Equity) * 100</td>
                <td *ngFor="let data of ROE.reverse()">
                  {{ data / 100 | percent : "1.0-2" }}
                </td>
              </tr>
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Perspectiva asupra a cat de mult profit este realizat pe dolar de vanzari"
                  >
                  </i>
                  Return On Sales (ROS)
                </td>
                <td>(Net Income / Revenue) * 100</td>
                <td *ngFor="let data of ROS.reverse()">
                  {{ data / 100 | percent : "1.0-2" }}
                </td>
              </tr>
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="
                    De cate ori activele sunt transformate in vanzari intr-o anumita perioada de timp"
                  >
                  </i>
                  Assets Turnover Ratio
                </td>
                <td>Revenue / Total Assets</td>
                <td *ngFor="let data of VRA.reverse()">
                  {{ data | number : "1.0-2" }}
                </td>
              </tr>
              <tr>
                <td class="indicators">
                  <i
                    class="bi bi-info-square"
                    placement="top"
                    ngbTooltip="Capacitatea companiei de a folosi o suma de datorii pentru a-si finanta activele"
                  >
                  </i>
                  Equity Multiplier (AER)
                </td>
                <td>Total Assets / Share Holder Equity</td>
                <td *ngFor="let data of AER.reverse()">
                  {{ data | number : "1.0-2" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<app-loader></app-loader>
<app-nav></app-nav>
